<div id="{{ section.title | removeSpaces }}" class="container info-section">
	<div class="row" >
		<div class="col-md-12">
			<h3><u>{{ section.title }}</u></h3>
			<p class="lead">
				{{ section.body }}
			</p>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="(subsectionName,subsectionData) in section.subsections track by $index" >
			<div class="clearfix" ng-if="$index % 2 == 0"></div>
			<div class="col-md-6">
				<h5> {{subsectionData.title}}</h5>
				<ul class="list-group">
					<li ng-repeat='information in subsectionData.subsectionDescriptions' class="list-group-item" ng-if="information.desc != '' && information.desc != null">{{information.desc}}</li>	
				</ul>
			</div>
			
		</div>
		


	</div>
</div>