<div id="{{ section.title | removeSpaces }}" ng-if="!section.previewOff" class=" info-section">
	<div class="row" >
		<div class="col-md-12">
			<h3><u>{{ section.title }}</u> <a class="pull-right" ng-click="previewSection(section)">Edit section</a></h3>
			<p class="lead">
				{{ section.body }}
			</p>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="(subsectionName,subsectionData) in section.subsections track by $index" >
			<div class="clearfix" ng-if="$index % 2 == 0"></div>
			<div class="col-md-6">
				<h5> {{subsectionData.title}}</h5>
				<ul class="list-group">
					<li ng-repeat='information in subsectionData.subsectionDescriptions' class="list-group-item" ng-if="information.desc != '' && information.desc != null">{{information.desc}}</li>	
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default" ng-if="section.previewOff">
	<div class="panel-heading">
		<div class="btn btn-success" ng-if="indexIterator ==  sectionsLength - 1 || sectionsLength == -2" ng-click="saveSection()">Save section</div>
		<div class="btn btn-danger" ng-if="sectionsLength != -2 && (indexIterator != sectionsLength-1 && notDefaultSection(section))" ng-click="removeSection(section)">remove section</div>
		<div class="btn btn-default" ng-click="previewSection(section)">{{ section.previewOff?'Preview':'Edit' }} section</div>
	</div>
	<span class="panel-body" >
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="form-group input-group-lg">
					<input type="text" placeholder="Section Title" class="form-control" ng-model="section.title"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row col-md-9 col-md-offset-1">
				<div class="form-group">
					<textarea placeholder="{{sectionDescriptionPlaceholder(section)}}" class="form-control" rows="6" ng-model="section.body"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- subsection start -->
			
			<div ng-repeat="subsection in section.subsections track by $index">
				<div class="clearfix" ng-if="$index % 2 == 0"></div>
				<div class="col-md-5" ng-class="$index%2 ==0? 'col-md-offset-1': ''">
					
					<div class="row">
						<div class="col-md-2">
							<div class="btn btn-xs btn-success" ng-if="$index == 0" ng-click="addSubsection(subsection,section)">Save subsection</div>
							<div class="btn btn-xs btn-danger" ng-if="$index != 0" ng-click="removeSubsection(subsection,section.subsections)">remove subsection</div>
						</div>
						<div class="col-md-offset-1 col-md-9 form-group">
							<input type="text" placeholder="{{subsectionTitlePlaceholder(section)}}" class="form-control" ng-model="subsection.title" />
						</div>
					</div>
					<div class="form-group row">
						
						<!-- subsection descriptions start -->
						<div class="row col-md-9 col-md-offset-3" ng-repeat="subsectionDesc in subsection.subsectionDescriptions track by $index">
							<div class="input-group input-group-sm">
								<span ng-if="$index == 0" class="input-group-addon" id="add-row" ng-click="addSubsectionDesc(subsectionDesc,subsection.subsectionDescriptions)">+</span>
								<span ng-if="$index != 0" class="input-group-addon" id="add-row" ng-click="removeSubsectionDesc(subsectionDesc,subsection.subsectionDescriptions)">-</span>
								<input type="text" placeholder="{{subsectionDescriptionPlaceholder(section)}}" class="form-control" aria-describedby="add-row" ng-model="subsectionDesc.desc"/>
							</div>
						</div>
						<!-- subsection descriptions end -->
					</div>
				</div>
			</div>
			<!-- subsection end -->
		</div>
	</span>

</div>