<div class="location-card">
	<div class="location-card-info">
		<div class="row">
			<div class="col-md-8 location-list-thumb-container">
				<a ng-href="/location/{{ locationData['slug'] }}">
					<img class="location-list-thumb" ng-src="{{ locationData['home_thumb'] }}">	
					<div class="location-list-thumb-title">
						<h3 class="text-gray">{{ locationData['name'] }}</h3>
						<h5><strong>{{ locationData['country'] }}</strong></h5>
					</div>
				</a>

			</div>
			<div class="col-md-4 location-card-attributes">
				<div class="col-xs-6 col-md-12">
					<label>Lodging Options</label>
					<img ng-repeat="accommodation in locationData['accommodations']" ng-src="{{ accommodation['url'] }}" class='icon' title="{{ accommodation['name'] }}">	
				</div>
				<div class="col-xs-6 col-md-12">
					<label>Climbing Types</label>
					<img ng-repeat="type in locationData['climbing_types']" ng-src="{{ type['url'] }}" class='icon' title="{{ type['name'] }}">
				</div>
				<div class="col-xs-6 col-md-12">
					<label>Best Seasons</label>
					<p class="text-gray info-text">{{ locationData['date_range']}}</p>
				</div>
				<div class="col-xs-6 col-md-12">
					<label>Climbing Difficulty</label>
					<p class="text-gray info-text" ng-repeat="grade in locationData.grades" ng-class="{'multiple-grades': locationData.grades.length > 1}">
						<img ng-src="{{grade.type.url}}" ng-if="locationData.grades.length > 1" class="grade-climbing-type-icon"/>
						{{grade.grade}} 
						{{locationData.grades.length == 1 ? 'and harder':''}}
					</p>
					<p class="text-gray info-text multiple-grades" ng-if="locationData.grades.length > 1">and harder</p>
				</div>

			</div>
		</div>
		<div class="location-card-cost">
			<label>${{ locationData['price_range_floor_cents']}}  - ${{ locationData['price_range_ceiling_cents'] }} / day</label>
		</div>
	</div>
	<div class="location-airfare">
		<div ng-if="locationData.lowestPrice.date">
			<div id="highchart{{locationData['airport_code']+'-'+locationData['slug']+'-'+locationData['location']['id']}}" style="margin: 0 auto"></div>
			<div class="row">
				<span class="col-md-6">
					<label>Airline Prices(hover to see prices)</label>
				</span>
				<span class="col-md-6 text-right">
					<a href="{{locationData.referral}}"><h4 class="text-gray">Low of ${{locationData.lowestPrice.cost}} on {{locationData.lowestPrice.date}}</h4></a>
				</span>
			</div>
		</div>
		<div ng-if="!locationData.lowestPrice.date">
			<div class="sorry-message" ng-if="!loadingQuotes">
				<h4>We're sorry, we couldn't find any flight information from {{ helperService.originAirport }} to {{ locationData.airport_code }}. You may have better luck searching with a bigger airport or for specific dates on Skyscanner or your preferred airline's website.</h4>
			</div>
			<div ng-if="loadingQuotes">
				<img class="loading-quote" src="/images/climbcation-loading.gif" />
			</div>
		</div>
	</div>
</div>
