.icon {
	height: 32px;
	width: 32px;
}

.home-hero {
	position: relative;
	height: 20em;
	background: linear-gradient(rgba(60, 126, 145, .5), rgba(60, 126, 145, .5)), url('../images/rodellarpano.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	.home-hero-overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		.home-hero-overlay-title {
			position: relative;
			> div, h2 {
				position: absolute;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				color: #fff;
				text-align: center;
			}
			> div {
				font-size: 20px;
				top: 150px;
			}
		}
		img {
			height: 100%;
		}
	}
}

.fill-height {
	min-height: 500px;
}

.icon.button{
	height: 17px;
	width: 25px;
}
.icon-row{
	margin: 1em 0;
}

.filter{
	position:relative;
	margin: 2em 0;
	padding: 1em 1em;
	border-color: rgb(13,33,42);
	border-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-width: 2px 0 2px 0;

	&.fixed {
	position: fixed;
	bottom: initial;
	top: 0;
	}	

	h4:first-child {
		margin-top: 0;
	}
	.loading-overlay {
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.8);
		position: absolute;
		top: 0;
		.loading-text {
			padding: 6em 0;
		}
		h6, img {
			display: inline;
		}
	}
}
.location-row:nth-of-type(odd){
	background-color: #f9f9f9;
}
.location-row{
	padding: 1em 0;
}
.navbar.home {
	padding: 1em 0px;
	margin-bottom: 0;
	background-color: rgb(13,33,42);
	.nav-link {
		a {
			color: rgb(230,230,230);
		}
		text-align: center;
	}
	.nav-link.text {
		padding-top: 1em;
	}
	.navbar-logo {
		display: inline;
		img {
			height: 50px;
		}
	}
}

.mapFilter{
	height:15em;
	z-index: 1039;
}
.locations-window {
	position: relative;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.location-item {
	flex-grow: 1;
	display: inline-block;
	max-width: 48%;
	margin: 0 10px;
}

@media (max-width: 1025px) {
	@media (min-width: 1000px) {
		.locations-window {
			width: 98%;
		}
	}
	
}

.location-card {
	border-color: rgb(214,214,214);
	border-style: solid;
	border-width: 1px;
	margin-bottom: 1em;
	.icon {
		height: auto;
		width: 25px;
		padding-right: 5px;
	}
	.location-card-info{
		position:relative;
		border-color: rgb(214,214,214);
		border-style: solid;
		border-width: 0px 0px 1px 0px;
		.location-card-attributes {
			position: relative;
			height: 100%;
			
		}
		.location-list-thumb-container{
			position: relative;
			.location-list-thumb {
				width: 100%;
				height: 19.5em;
			}
			.location-list-thumb-title {
				position: absolute;
				width: 93%;
				bottom: 2em;
				padding-left: 1em;
				padding-top: 10px;
				background-image: linear-gradient(to right, rgb(188,188,188), rgba(255,255,255,0) 120%);
				.text-gray {
					color: #eee;
				}
			}
		}
		.location-card-cost {
			position: absolute;
			bottom: 0;
			right: 10px;
		}	
	}
	.location-airfare {
		min-height: 124px;
		.sorry-message {
			min-height: 124px;
			padding: 20px;
			text-align: center;
		}
		.loading-quote {
			display: block;
			margin: 0 auto;
			padding-top: 54px;
		}
		width: 100%;
		h4 {
			display:inline;
		}
		h5 {
			display:inline;
		}
	}
}