// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-info-container {
	padding-bottom: 5em;

	.main-header {
		display: flex;
		align-items: center;
		> div {
			width: 33%;
		}
		.location-photo {
			padding: 0;
			border-width: 2px;
			img {
				width: 100%;
			}
		}
		.location-map {
			padding: 0px;
			position: relative;
			.nearby-locations {
				a {
					font-weight: bold;
					cursor: pointer;
				}
				img {
					margin-left: 10px;
				}
				position:absolute;
				background-color: rgba(230,230,230,.8);
				z-index: 10;
				width: 100%;
				padding: 10px;
				bottom: 0px;
				text-align: right;
				.toggle {
					
				}
			}
			.nearby-locations.expanded {
				max-height: 80%;
				text-align: right;
				> div {
					text-align: left;
				}
			}
		}
		#map-canvas{
			height: 15em;
			z-index: 1;
		}
		.overview-container {
			div > div > label {
				display: block;
			}
		}
	}
	.misc-section {
		height: 100px;
	}
	.climbcation-well > h3 {
		padding-top: 0px;
		margin-top: 0px;
		> input {
			width: 50px;
		}
	}

	.accommodation-info-section {
		img {
			width: 80px;
			display: block;
			margin: 0 auto;
		}
	}

	.footer-link {
		font-size: .8em;
	}

	.info-section:nth-of-type(odd){
		background-color: #f9f9f9;
	}
	.info-section{
		padding: 1em 0;
	}
	
	.table-contents-list{
		display: inline-block;
	}

}


