// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-info-container {
	padding-bottom: 5em;

	.info-text {
		font-size: 16px;
	}

	h5 {
		padding-top: 0px;
		margin-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	h3 {
		font-size: 20px;
	}
	.container-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
	.add-section{
		padding: 40px 0;
		h3 {
			padding-bottom: 20px;
		}
	}

	.main-header {
		display: flex;
		align-items: center;
		> div {
			width: 33%;
		}
		.location-photo {
			padding: 0;
			border-width: 2px;
			img {
				width: 100%;
			}
		}
		.location-map {
			padding: 0px;
			position: relative;
			.nearby-locations {
				a {
					font-weight: bold;
					cursor: pointer;
				}
				position:absolute;
				background-color: rgba(230,230,230,.8);
				z-index: 10;
				width: 100%;
				padding: 10px;
				bottom: 0px;
				text-align: right;
				.toggle {
					
				}
			}
			.nearby-locations.expanded {
				max-height: 80%;
				text-align: right;
				> div {
					text-align: left;
				}
				.nearby-location {
					padding-bottom: 5px;
				}
			}

		}
		#map-canvas{
			height: 16em;
			z-index: 1;
		}
		.overview-container {
			> div {
				padding-top: 20px;
			}
			div > div > label {
				display: block;
			}
		}
	}

	.text-button {
		margin-left: 10px;
		margin-right: 10px;
	}

	.misc-section {
		.pad-top{
			padding-top: 10px;
		}
	}

	

	.climbcation-well {
		.section-title {
			padding-bottom: 15px;
		}
		> div {
			padding-bottom: 20px;
		}
		> label {
			padding-top: 20px;
		}
		> h3 {
			padding-top: 0px;
			margin-top: 0px;
			> input {
				width: 50px;
			}
		}
	}

	.accommodation-info-section {
		img {
			width: 80px;
			display: block;
			margin: 0 auto;
		}
	}

	.footer-link {
		font-size: .8em;
	}

	.info-section:nth-of-type(odd){
		background-color: #f9f9f9;
	}
	.info-section{
		padding: 1em 0;
	}
	
	.table-contents-list{
		display: inline-block;
	}

}


