#submit-form {
	input.form-control,
	select.form-control {
		height: 25px;
		font-size: 12px;
	}
	textarea.form-control {
		resize: none;
	}
	label {
		font-size: 12px;
		.gray {
			color: rgb(123,123,123);
			font-weight: normal;
		}
	}
	label.gray {
		color: rgb(123,123,123);
	}
	.small-label {
		font-size: 12px;
		color: #000;
		font-weight: 700;
	}

	.inline {
		display: inline;
	}

	.short-input {
		width: 78%;
	}

	.small-gray {
		text-align: center;
		padding: 10px 0;
		font-weight: normal;
	}
	.well {
		padding: 0;
		margin-bottom: 0;
	}
	.well.forms-container {
		.well-content {
			min-height: 340px;
		}
	}

	.tips-container {
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		box-shadow: 0px 4px 15px -5px;

	}
	.well-footer >	.back-button {
		color: $gray;
		border-color: $gray;
		border-width: 0 0 1px 0;
		border-style: solid;
		cursor: pointer;
		vertical-align: -webkit-baseline-middle;
		vertical-align: -moz-middle-with-baseline;
	}
	/* header start */
	.progress-container {
		position:relative;
		padding: 10px 0;
		box-shadow: 0px 4px 15px -5px;
		margin-bottom: 20px;
	}
	.progress-icon-container {
		position: absolute;
		display:flex;
		padding-top: 5px;
		width: 100%;
		justify-content: space-around;
		text-align: center;
		top: 0px;
		span {
			width: 16%;
		}
		img {
			-webkit-filter: drop-shadow(0px 2px 3px #000);
  			filter: drop-shadow(0px 2px 3px #000);
		}
	}
	.progress-bar-wrapper {
		border-width: 3px 0 3px 0;
		border-color: $dark-blue;
		border-style:solid;
		width: 100%;
		margin: 10px 0;
		box-shadow: 0px 4px 15px -5px rgb(0,0,0);
	}
	.progress-bar {
		padding: 10px 0;
		float: none;
		background-color: $dark-blue;
		width: 1%;
		
	}
	.titles {
		width: 100%;
		display: flex;
		justify-content: space-around;
		text-align: center;
		span {
			width: 16%;
		}
		a {
			width: 16%;
			cursor: pointer;
		}
	}
	/* header end */

	/* drop image start */
	.drop-box {
		border-style: dashed;
		border-width: 3px;
		border-color: $dark-blue;
		border-radius: 10px;
		width: 192px;
		height: 192px;
		display: flex;
		align-items: center;
		span {
			margin: 0 auto;
		}
		img {
			max-width: 176px;
			max-height: 176px;
			margin: 0 auto;
		}
	}
	/* drop image end */

	/* general start */
	.border-left {
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $light-gray;
		height: 320px;
	}

	.month-button {
		margin-bottom: 5px;
		padding-right: 5px;
		padding-left: 5px;
		.btn-climbcation {
			width: 90%;
			background-color: #fff;
			color: $dark-blue;
			font-weight: 700;
			border-color: $dark-blue;
			border-style: solid;
			border-width: 2px;
			border-radius: 3px;
			padding: 0;
			
		}
		.btn-climbcation:active,
		.btn-climbcation.active {
			background-color: $dark-blue;
			color: #fff;
			border-color: transparent;
			border-style: solid;
			border-width: 2px;
			border-radius: 3px;
			box-shadow: none;
		}
	}

	/* general end */

	/* accommodation start */
	.accommodation-options {
		display:flex;
		justify-content: space-around;
		padding: 10px 200px;
	}
	.accommodation-button-wrapper {
		display: inline-block;
		.accommodation-button {
			position: relative;
			height: 100px;
			img {
				width: 100px;
			}
			.accommodation-cost-container {
				z-index: 10;
				text-align: left;
				position: absolute;
				left: -1px;
				bottom: -1px;
				width: 102%;
			}
		}
		.accommodation-button.active,
		.accommodation-button:active {
			width: 126px;
			background-color: rgb(215,238,240);
			img {
				width: 80px;
			}
		}
	}
	/*accommodation end */


}