$dark-blue: rgb(21,53,64);
$gray: rgb(156,156,156);
$light-gray: rgb(220,220,220);
$light-blue: rgb(60,126,145);
$text-gray: rgb(110,110,110);
$input-background-gray: #e0e0e0;
$input-text-gray: #9c9c9c;
$input-active-background-gray: #d0d0d0;
$input-active-text-gray: #7c7c7c;