@import "./_variables.scss";
@import "./_overrides.scss";
@import "./defaults.scss";
@import "css/homepage.scss";
@import "css/header.scss";
@import "css/locations.css.scss";
@import "css/submit_location.scss";
@import "./_mobile.scss";


body {
	position: relative;
	color: rgb(60,126,145);
	font-family: "museo-sans-rounded", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
