<div id="saveSuccessModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thank you!</h4>
      </div>
      <div class="modal-body">
        <p>Your change has been submitted!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<section class="location-info-container">
	<!-- INFO SECTION -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center"> {{ locationData['name'] }}, {{ locationData['country'] }}</h2>
				<div class="main-header">
					<div class="well climbcation-well location-map">
						<div class="nearby-locations" ng-class="{'expanded': nearbyShow}">
							
							<div ng-if="nearbyShow" class="nearby-display">
								<div class="nearby-location" ng-repeat="nearbyLoc in nearby">
									<a href="/location/{{nearbyLoc.slug}}">{{ nearbyLoc.name }}</a> <span class="text-gray bold">({{nearbyLoc.distance}} mi away)</span>
									<img ng-repeat="nearbyType in nearbyLoc.climbing_types" ng-src="{{nearbyType.url}}" class="icon"/>
								</div>
							</div>
							<a class="toggle" ng-click="toggleNearby()">{{ nearbyShow? 'Hide Nearby Locations':'Show Nearby Locations' }}</a>
						</div>
						<div id="map-canvas" class="">
							
						</div>
					</div>
					<div class="location-photo well climbcation-well">
						<img ng-src="{{ locationData['home_thumb'] }}" ng-if="locationData.home_thumb != '/images/original/missing.png'" />
						<h3 class="text-center" ng-if="locationData.home_thumb == '/images/original/missing.png'" />
							<strong>Image Coming Soon</strong>
						</h3>
					</div>
					<div class="well climbcation-well overview-container">
						<h3 class="text-center">{{ locationData['name'] }} Overview</h3>
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<label>What should I climb?</label>
								<img ng-repeat="climbing_type in locationData['climbing_types']" ng-src="{{ climbing_type['url'] }}" title="{{ climbing_type['name'] }}" class="icon"/>
							</div>
							<div class="col-md-6 col-xs-6">
								<label>When Should I go?</label>
								<p class="text-gray info-text">{{ locationData['date_range'] }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<label>Daily Expenses<br />(excluding accommodation)</label>
								<p class="text-gray info-text">${{ locationData.price_range_floor_cents}} - ${{ locationData.price_range_ceiling_cents}}</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<label>Climbing Difficulty<br />(Most classics are)</label>
								<p class="text-gray info-text">{{ locationData['grade'] }} and harder</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</div>
	<div class="container-fluid">
		<div class="row">
			<!-- Getting in -->
			<div class="col-md-6">
				<div class="well climbcation-well" ng-if="!editingGettingIn">
					<div class="row col-md-12 section-title">
						<h3 class="inline">Getting In</h3>
						<span class="text-button" ng-click="toggleEditGettingIn()">Edit Category</span>
					</div>
					<p class="text-gray info-text" ng-if="locationData.walking_distance === null">We're not sure if crags and other destinations(food, camping, etc...) are within walking distance... have you been here? Please edit this section if you can help us out!</p>
					<p class="text-gray info-text" ng-if="locationData.walking_distance !== null">Crags and other destinations(food,camping, etc...) <strong>{{locationData.walking_distance?'are':'are not'}}</strong> within walking distance.</p>
					<div class="info-container">
						<div>
							<label class="text-center">Available Options</label>
							<ul>
								<li class="text-gray" ng-repeat="transport in locationData.transportations"><h5>{{ transport.name }}</h5></li>
							</ul>
						</div>
						<div>
							<label class="text-center">Best Transportation Option</label>
							<h4 class="text-center text-gray">{{locationData.best_transportation.name}}</h4>
							<h5 class="text-center text-gray">{{locationData.best_transportation.cost != -1 ? locationData.best_transportation.cost : ''}}</h5>
						</div>
					</div>
					<label>Any additional tips about getting around {{locationData.name}}?</label>
					<p class="text-gray info-text" ng-bind-html="(locationData.getting_in_notes || 'No Details Available') | linky"></p>
				</div>
				<div class="well climbcation-well" ng-if="editingGettingIn">
					<div class="row section-title">
						<h3 class="col-md-7 col-xs-5">Getting In</h3>
						<div class="col-md-5 col-xs-7">
							<span class="text-button" ng-click="toggleEditGettingIn()">Cancel</span>
							<span class="btn btn-sm btn-climbcation" ng-click="submitGettingInChanges()">Submit Changes</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>Are crags and other destinations(food, camping, etc...) within walking distance?</label>
						</div>
						<div class="col-md-4">
							<div class="btn-group btn-group-sm center-block">
								<button class="btn btn-sm btn-default" ng-class="{'active': locationObj.walkingDistance}"
									ng-click="locationObj.walkingDistance = true">
										Yes
								</button>
								<button class="btn btn-sm btn-default" ng-class="{'active': locationObj.walkingDistance == false}"
									ng-click="locationObj.walkingDistance = false">
										No
								</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Select all available options for getting to {{locationData.name}}</label>
							<div ng-repeat="transportation in transportations">
								<label class="control control--checkbox" for="{{ transportation['name'] }}" ng-class="{'active': locationForm[transportation.name].$viewValue == true}">
									<input name="{{transportation.name}}" type="checkbox" id="{{ transportation.name }}" ng-model="locationObj.transportations[transportation.id]">
									<div class="control__indicator"></div>
									<span class="gray">{{transportation.name}}</span>
								</label>
							</div>	
						</div>
						<div class="col-md-6">
							<div class="row" ng-if="locationObj.transportations">
								<label>What is the best option for getting to {{locationData.name}}</label>
								<div class="btn-group btn-group-sm center-block">
									<button class="btn btn-sm btn-default" ng-class="{'active': locationObj.bestTransportationId == bestTransOption.id}"
										ng-repeat="bestTransOption in transportations | bestTransportationOptions:locationObj.transportations"
										ng-click="selectBestTransportation(bestTransOption.id)">
											{{bestTransOption.name}}
									</button>
								</div>
							</div>
							<div class="row" ng-if="bestTransportationCostOptions">
								<label>How much does a {{bestTransportationName}} cost?</label>
								<div class="btn-group btn-group-sm center-block">
									<button class="btn btn-sm btn-default" ng-class="{'active': costRange.active}"
										ng-repeat="costRange in bestTransportationCostOptions"
										ng-click="selectBestTransportationCost(costRange)">
											{{costRange.cost}}
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Any Additional Tips for getting to and around {{locationData.name}}?</label>
							<div class="form-group">
								<textarea placeholder="ex. Need to take flight to kos, then take a ferry from kos to kalymnos, once you're there you can hitchhike to get groceries easily or you can rent a scooter for $5 a day" class="form-control" rows="3" ng-model="locationObj.gettingInNotes"></textarea>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- accommodation -->
			<div class="col-md-6">
				<div class="well climbcation-well" ng-if="!editingAccommodation">
					<div class="col-md-12 row section-title">
						<h3 class="inline">Accommodation</h3>
						<span class="text-button" ng-click="toggleEditAccommodation()">Edit Category</span>
					</div>
					<p class="text-gray info-text" ng-if="!locationData.closest_accommodation">We're not sure how close the accommodation is from the crags... have you been here? Please edit this section if you can help us out!</p>
					<p class="text-gray info-text" ng-if="locationData.closest_accommodation">Closest accommodation is <strong>{{locationData.closest_accommodation}}</strong> from the crags.</p>
					<div class="info-container">
						<div class="accommodation-info-section" ng-repeat="accommodation in locationData.accommodations">
							<h4 class="text-gray text-center">{{accommodation.name}}</h4>
							<img ng-src="{{accommodation.url}}" />
							<h5 class="text-gray text-center">{{accommodation.cost}}</h5>
						</div>
					</div>
					<label>Any additional tips for staying in {{locationData.name}}?</label>
					<p class="text-gray info-text" ng-bind-html="(locationData.accommodation_notes || 'No Details Available') | linky"></p>
				</div>
				<div class="well climbcation-well" ng-if="editingAccommodation">
					<div class="row section-title">
						<h3 class="col-md-7 col-xs-5">Accommodation</h3>
						<div class="col-md-5 col-xs-7">
							<span class="text-button" ng-click="toggleEditAccommodation()">Cancel</span>
							<span class="btn btn-sm btn-climbcation" ng-click="submitAccommodationChanges()">Submit Changes</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>How close is the closest accommodation to the crag(s)?</label>
							
						</div>
						<div class="col-md-4">
							<select name="closestAccommodation" ng-model="locationObj.closestAccommodation" class="form-control">
								<option ng-value="'<1 mile'">&lt;1 mile</option>
								<option ng-value="'1-2 miles'">1-2 miles</option>
								<option ng-value="'2-5 miles'">2-5 miles</option>
								<option ng-value="'5+ miles'">5+ miles</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label class="center-block">Select all available options for accommodation in {{locationData.name}}</label>
							<div class="accommodation-options">
								<div class="accommodation-button-wrapper" ng-repeat="accommodation in accommodations" ng-click="selectAccommodation(accommodation)">
									<div class="btn btn-default accommodation-button {{(locationObj.accommodations | accommodationChosen:accommodation)?'active':'' }}">
										<img ng-src="{{accommodation.url}}" />
										<div class="accommodation-cost-container" ng-if="locationObj.accommodations | accommodationChosen:accommodation">
											<label class="light-blue">Cost</label>
											<select ng-model="locationObj.accommodations[accommodation.id].cost" class="form-control" ng-click="stopPropagation($event);">
												<option ng-repeat="range in accommodation.ranges" ng-value="range">{{range}}</option>
											</select>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Any Additional Tips on staying in {{locationData.name}}?</label>
							<div class="form-group">
								<textarea placeholder="ex. campground doesnt have water, bring your own. The most fun place to stay is JOSITO! campground has a communal kitchenand communal fridge" class="form-control" rows="3" ng-model="locationObj.accommodationNotes"></textarea>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- flight costs -->
			<div class="col-md-6">
				<div class="well climbcation-well">
					<h3>One way flight cost(
						<input class="form-control inline" ng-model="originAirport" ng-trim="true"
						typeahead-wait-ms="500" uib-typeahead="airport.name for airport in helperService.getAirports($viewValue)"
						typeahead-popup-template-url="views/airport_autocomplete.tpl.html"
						typeahead-on-select="getAirport($item, $model, $label, $event)"/>
						 to {{locationData.airport_code}})</h3>
					<div id="highchart{{locationData.airport_code + '-' + locationData.slug + '-' + locationData.id}}">
					</div>
				</div>
			</div>
			<!-- cost -->
			<div class="col-md-6">
				<div class="well climbcation-well" ng-if="!editingFoodOptions">
					<div class="col-md-12 row section-title">
						<h3 class="inline">Cost</h3>
						<span class="text-button" ng-click="toggleEditFoodOptions()">Edit Category</span>
					</div>
					<label>Food options (cost per meal)</label>
					<div class="info-container">
						<div ng-repeat="food_option in locationData.food_options">
							<h3 class="text-gray text-center">{{food_option.name}}</h3>
							<h4 class="text-gray text-center">{{food_option.cost}}</h4>
						</div>
					</div>
					<label>Any other common expenses in {{locationData.name}}?</label>
					<p class="text-gray info-text" ng-bind-html="(locationData.common_expenses_notes || 'No Details Available') | linky"></p>
					<label>Any tips on saving money around {{locationData.name}}?</label>
					<p class="text-gray info-text" ng-bind-html="(locationData.saving_money_tip || 'No Details Available') | linky"></p>
				</div>
				<div class="well climbcation-well" ng-if="editingFoodOptions">
					<div class="row section-title">
						<h3 class="col-md-7 col-xs-5">Cost</h3>
						<div class="col-md-5 col-xs-7">
							<span class="text-button" ng-click="toggleEditFoodOptions()">Cancel</span>
							<span class="btn btn-sm btn-climbcation" ng-click="submitFoodOptionsChanges()">Submit Changes</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>What food options are available in {{locationData.name}}?</label>
							<div ng-repeat="food in foodOptions" ng-click="cleanFoodOptionDetails()">
								<label class="control control--checkbox" for="{{ food['name'] }}" ng-class="{'active': locationForm[food.name].$viewValue == true}">
									<input name="{{food.name}}" type="checkbox" id="{{ food.name }}" ng-model="locationObj.foodOptions[food.id]">
									<div class="control__indicator"></div>
									<span class="gray">{{food.name}}</span>
								</label>
							</div>	
						</div>
						<div class="col-md-7">
							<div class="row" ng-if="locationObj.foodOptions">
								<label>Cost for a single meal?</label>
								<div class="row">
									<div class="col-md-6" ng-repeat="foodOption in foodOptions | selectedFoodOptions:locationObj.foodOptions">
										<label class="center-block gray">{{foodOption.name}}</label>
										<div class="btn-group btn-group-sm">
											
											<button class="btn btn-sm btn-default" ng-class="{'active': locationObj.foodOptionDetails[foodOption.id].cost == range}"
												ng-repeat="range in foodOption.ranges"
												ng-click="selectFoodOptionDetail(foodOption.id, range)">
													{{range}}
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Any other common expenses in {{locationData.name}}?</label>
							<div class="form-group">
								<textarea placeholder="ex. red rock requires entrance fee" class="form-control" rows="3" ng-model="locationObj.commonExpensesNotes"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<label>Any tips on saving money in {{locationData.name}}?</label>
							<div class="form-group">
								<textarea placeholder="ex. Mama's chicken is a great restaurant that is very cheap, and trader joes is a cheap but healthy grocery store... you should also hitchhike a bunch since it's easy here" class="form-control" rows="3" ng-model="locationObj.savingMoneyTips"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="climbcation-well well has-header">
			<div class="well-header">
				<h3>{{locationData.name}} Miscellaneous</h3>
			</div>
			<div class="well-content">
				<div class="misc-container">
					<locationothersection class="misc-section" location-id="locationData.id" section="section" sections-length="locationObj.sections.length" ng-repeat="section in sections track by $index" index-iterator="$index" save-section="saveSection()" remove-section="removeSection(section)" editable="true"></locationothersection>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div id="comments" onrender="rendered()" class="fb-comments info-section" data-width="100%" ng-attr-data-href="http://www.climbcation.com/{{ locationData['name'] }}" data-numposts="5"></div>
			</div>
			<div class="col-md-4">
				<div class="info-container add-section">
					<div class="text-center">
						<h3 class="text-center">Is something about {{locationData.name}} missing?</h3>
						<div class="btn btn-climbcation text-center" ng-click="addSection()">Add New Category</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
