<div id="saveSuccessModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thank you!</h4>
      </div>
      <div class="modal-body">
        <p>Your change has been submitted!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<section class="location-info-container">
	<!-- INFO SECTION -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center"> {{ locationData['name'] }}, {{ locationData['country'] }}</h1>
				<div class="main-header">
					<div id="map-canvas" class="well climbcation-well">

					</div>
					<div class="location-photo well climbcation-well">
						<img ng-src="{{ locationData['home_thumb'] }}"  />
					</div>
					<div class="well climbcation-well overview-container">
						<h3 class="text-center">{{ locationData['name'] }} Overview</h3>
						<div class="row">
							<div class="col-md-6">
								<label>What should I climb?</label>
								<img ng-repeat="climbing_type in locationData['climbing_types']" ng-src="{{ climbing_type['url'] }}" title="{{ climbing_type['name'] }}" class="icon"/>
							</div>
							<div class="col-md-6">
								<label>When Should I go?</label>
								{{ locationData['date_range'] }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Daily Expenses<br />(excluding accommodation)</label>
								${{ locationData.price_range_floor_cents}} - ${{ locationData.price_range_ceiling_cents}}
							</div>
							<div class="col-md-6">
								<label>Most Classics</label>
								{{ locationData['grade'] }} and above
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</div>
	<div class="container-fluid">
		<div class="row">
			<!-- Getting in -->
			<div class="col-md-6">
				<div class="well climbcation-well">
					<h3>Getting In</h3>
					<span class="text-gray">Crags and other destinations(food,camping, etc...) <strong>{{locationData.walking_distance?'are':'are not'}}</strong> withing walking distance.</span>
					<div class="info-container">
						<div>
							<label class="text-center">Available Options</label>
							<ul>
								<li class="text-gray" ng-repeat="transport in locationData.transportations"><h4>{{ transport.name }}</h4></li>
							</ul>
						</div>
						<div>
							<label class="text-center">Best Transportation Option</label>
							<h3 class="text-center text-gray">{{locationData.best_transportation.name}}</h3>
							<h4 class="text-center text-gray">{{locationData.best_transportation.cost}}</h4>
						</div>
					</div>
					<label>Any additional tips about getting around {{locationData.name}}?</label>
					<h4 class="text-gray">{{locationData.getting_in_notes || 'No Details Available' }}</h4>
				</div>
			</div>
			<!-- accommodation -->
			<div class="col-md-6">
				<div class="well climbcation-well">
					<h3>Accommodation</h3>
					<span class="text-gray">Closest accommodation is <strong>{{locationData.closest_accommodation}}</strong> from the crags.</span>
					<div class="info-container">
						<div class="accommodation-info-section" ng-repeat="accommodation in locationData.accommodations">
							<h3 class="text-gray text-center">{{accommodation.name}}</h3>
							<img ng-src="{{accommodation.url}}" />
							<h4 class="text-gray text-center">{{accommodation.cost}}</h4>
						</div>
					</div>
					<label>Any additional tips for staying in {{locationData.name}}?</label>
					<h4 class="text-gray">{{locationData.accommodation_notes || 'No Details Available' }}</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- flight costs -->
			<div class="col-md-6">
				<div class="well climbcation-well">
					<h3>One way flight cost(<input ng-model="origin_airport" ng-trim="true" ng-minlength="3" ng-maxlength="3"/> to {{locationData.airport_code}})</h3>
					<div id="highchart{{locationData.airport_code + '-' + locationData.slug + '-' + locationData.id}}">
					</div>
				</div>
			</div>
			<!-- cost -->
			<div class="col-md-6">
				<div class="well climbcation-well">
					<h3>Cost</h3>
					<label>Food options (cost per meal)</label>
					<div class="info-container">
						<div ng-repeat="food_option in locationData.food_options">
							<h3 class="text-gray text-center">{{food_option.name}}</h3>
							<h4 class="text-gray text-center">{{food_option.cost}}</h4>
						</div>
					</div>
					<label>Any any other common expenses in {{locationData.name}}?</label>
					<h4 class="text-gray">{{locationData.common_expenses_notes || 'No Details Available'}}</h4>
					<label>Any tips on saving money around {{locationData.name}}?</label>
					<h4 class="text-gray">{{locationData.saving_money_tip || 'No Details Available' }}</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="climbcation-well well has-header">
			<div class="well-header">
				<h3>{{locationData.name}} Miscellaneous</h3>
			</div>
			<div class="well-content">
				<div class="row">
					<div class="col-md-6 misc-section" ng-repeat="misc in sections">
						<h3>{{misc.title}}</h3>
						<h4 class="text-gray">{{misc.body}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div id="comments" onrender="rendered()" class="fb-comments info-section" data-width="100%" ng-attr-data-href="http://www.climbcation.com/{{ locationData['name'] }}" data-numposts="5"></div>
			</div>
			<div class="col-md-4" ng-if="false">
				<div class="info-container">
					<div class="text-center">
						<h3 class="text-center">Is something about {{locationData.name}} missing?</h3>
						<div class="btn btn-climbcation text-center">Add New Category</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
