
<div id="successModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thank you!</h4>
      </div>
      <div class="modal-body">
        <p>Your location has been submitted for approval by an administrator. You should see it up in 2-3 days!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeSuccessModal()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<form name="locationForm">

<div class="container">
	<br />
	<div class="panel panel-warning">
		<div class="panel-heading">
			Please Read Before Submitting
		</div>
		<ul class="list-group">
			<li class="list-group-item">
				This application is primarily used for people looking for climbing vacation destinations, please do not attempt to list local crags(unless they are world/country class) as they will not be approved
			</li>
			
			<li class="list-group-item">
				Your submission will not appear automatically. An administrator will review the details and approve your submission(will verify airport code, size of crag, etc...)
			</li>
			<li class="list-group-item">
				There are required sections to make this application useful. You will need to provide a "Getting in" section(explaining different ways to get to the crag, whether it be by car, train, or flight), an "Accommodation" section(explaining different accomodation options with approximate pricing), a "Cost" section(explaining what to expect for daily costs), and a "Transportation" section(explaining whether or not you need a car to get around this crag, if you can hitchhike, or if walking is an acceptable option)
			</li>
			<li class="list-group-item">
				If you would like a prime example of a location to build your location off of, please refer to <a href="#/location/bishop" target="_blank">Bishop</a>
			</li>
		</ul>
	</div>
	<!-- {{ locationObj |json }} -->
	<button class="btn" ng-disabled="locationForm.$invalid" ng-click="submitLocation()"> submit this new location</button>
	<div>
		<br />
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3 jumbotron drop-box" ngf-drop ng-model="image" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*,application/pdf'">
					<div>Drop Image here</div>
					Image thumbnail: <img class="img-circle"ngf-src="image[0]" ngf-default-src="" ngf-accept="'image/*'" width="192" height="192">
		
					<!--
						<img ng-src="{{ locationData['home_thumb'] }}" class='img-circle' width='192' height='192' />
					-->
				</div>
				<div class="col-md-9">
					<h4 class="row"> 
						<span class="form-group col-md-4" ng-class="{ 'has-success': locationForm.name.$valid && locationForm.name.$dirty, 'has-error': locationForm.name.$invalid && locationForm.name.$dirty }" >
							<input name="name" ng-model="locationObj.name" location-exists="{{existingLocations}}" placeholder="name, ex. Yosemite" ng-required="true" class="form-control"  />
						</span>
						
						<span class="form-group col-md-4" ng-class="{ 'has-success': locationForm.country.$valid && locationForm.country.$dirty, 'has-error': locationForm.country.$invalid && locationForm.country.$dirty }" >
							<input name="country" ng-model="locationObj.country" placeholder="Country" class="form-control" required/> 
						</span>
						<span class="form-group col-md-4" ng-class="{ 'has-success': locationForm.airport.$valid && locationForm.airport.$dirty, 'has-error': locationForm.airport.$invalid && locationForm.airport.$dirty }" >
							<input name="airport" ng-model="locationObj.airport" placeholder="Airport code, ex. SFO" class="form-control" ng-trim="true" ng-minlength="3" ng-maxlength="3" required/>
						</span>
					</h4>
					<h4 class="row">
						<div class="col-md-5">Daily expenditures range(in USD, not including accommodation):<span class="text-danger">*</span></div> 
						<div ng-class="{ 'has-success': locationForm.price_floor.$valid && locationForm.price_floor.$dirty, 'has-error': locationForm.price_floor.$invalid && locationForm.price_floor.$dirty }" class="form-group col-md-3"  >
							<input name="price_floor" ng-model="locationObj.price_floor" integer class="form-control" />
						</div> 
						<div class="col-md-1">
							-
						</div>
						<div ng-class="{ 'has-success': locationForm.price_ceiling.$valid && locationForm.price_ceiling.$dirty, 'has-error': locationForm.price_ceiling.$invalid && locationForm.price_ceiling.$dirty }" class="col-md-3 form-group">
							<input name="price_ceiling" class="form-control" ng-model="locationObj.price_ceiling" integer/>
						</div>
					</h4>
					<h4 class="row">
						<div class="col-md-5">email(only to be used if admin needs additional information from you):</div> 
						<div ng-class="{ 'has-success': locationForm.submitter_email.$valid && locationForm.submitter_email.$dirty, 'has-error': locationForm.submitter_email.$invalid && locationForm.submitter_email.$dirty }" class="form-group col-md-7"  >
							<input type="email" name="submitter_email" ng-model="locationObj.submitter_email" email class="form-control" /> 
						</div> 
					</h4>
					<div class="row">
						<div class="col-md-3">
							<h5>When Should I go?</h5>
							<div ng-repeat="month in months">
								<label for="{{ month['name'] }}" class="btn btn-sm btn-default" ng-class="{'active': locationForm[month.name].$viewValue == true}">
									<input class="hide" name="{{month['name']}}" type="checkbox" id="{{ month['name'] }}" ng-model="locationObj.months[month.id]"/>
									{{ month['name'] }}
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<h5>Where can I stay?</h5>
							
							<div ng-repeat="accommodation in accommodations">
								
								<label class="btn btn-lg btn-default"  for="{{ accommodation['name'] }}" ng-class="{'active': locationForm[accommodation.name].$viewValue == true}" >
									<input class="hide" name="{{accommodation['name']}}" type="checkbox" id="{{ accommodation['name'] }}" ng-model="locationObj.accommodations[accommodation.id]" >
									<img ng-src="{{ accommodation['url'] }}" title="{{ accommodation['name'] }}" class="icon"/>
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<h5>What should I climb?</h5>
							<div ng-repeat="climbing_type in climbingTypes">
								<label class="btn btn-lg btn-default" for="{{ climbing_type['name'] }}" ng-class="{'active': locationForm[climbing_type.name].$viewValue == true}">
								<input class="hide" name={{climbing_type['name']}} type="checkbox" id="{{ climbing_type['name'] }}" ng-model="locationObj.climbingTypes[climbing_type.id]">
								<img  ng-src="{{ climbing_type['url'] }}" title="{{ climbing_type['name'] }}" class="icon"/>
								</label>
							</div>	
						</div>
						<div class="col-md-3">
							<h5>How hard should I climb to get the most out of my trip? <span class="text-danger">*</span></h5>
							<select name="grade" ng-model="locationObj.grade" class="form-control" ng-required="true">
								<option ng-repeat="grade in grades" ng-value="grade.id">{{ grade.grade }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- section start -->
	
		
	<locationsection section="section" sections-length="locationObj.sections.length" ng-repeat="section in locationObj.sections track by $index" index-iterator="$index" save-section="saveSection()" remove-section="removeSection(section)"></locationsection>
	<!-- section end -->
	<button class="btn" ng-disabled="locationForm.$invalid" ng-click="submitLocation()"> submit this new location</button>
</div>

</form>
