<section>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron homepage">
      <div class="container">
        <h2>Find Your Next Climbcation</h2>
				<h2>Filter:
					<div class="btn-group btn-group-filter" data="price" role="group">
							<button ng-click="LocationsGetter.toggleFilterButton($event,'price_max','All' )" type="button" class="filter-button btn btn-lg btn-default active all" data="all">All</button>
							<button ng-click="LocationsGetter.toggleFilterButton($event,'price_max','15' )" type="button" class="filter-button btn btn-lg btn-default" data="15">$</button>
							<button ng-click="LocationsGetter.toggleFilterButton($event,'price_max','30' )" type="button" class="filter-button btn btn-lg btn-default" data="30">$$</button>
							<button ng-click="LocationsGetter.toggleFilterButton($event,'price_max','45' )" type="button" class="filter-button btn btn-lg btn-default" data="45">$$$</button>
					</div>
					<div class="btn-group btn-group-filter" data="continent" role="group" >
							<button ng-click="LocationsGetter.toggleFilterButton($event,'continents','All' )" type="button" class="filter-button btn btn-lg btn-default active all">All</button>
							<button ng-click="LocationsGetter.toggleFilterButton($event,'continents',continent )" ng-repeat="continent in filter.continents" type="button" class="filter-button btn btn-lg btn-default" data="{{ continent }}">{{ continent }}</button>
					</div>
					<div class="btn-group btn-group-filter" data="climbing_types" role="group">
							<button ng-click="LocationsGetter.toggleFilterButton($event,'climbing_types','All' )" type="button" class="filter-button btn btn-lg btn-default active all">All</button>
							<button ng-click="LocationsGetter.toggleFilterButton($event,'climbing_types',name )" ng-repeat="(name,climbType) in filter.climbTypes" type="button" class="filter-button btn btn-lg btn-default" data="{{ name }}"><img ng-src="{{ climbType }}" class ='icon button'></button>
					</div>
				</h2>
				<h2>Sort:
					<div class="btn-group btn-group-sort" data="sort" role="group">
						<button type="button" data="all" class="sort-button btn btn-lg btn-default all" ng-click="LocationsGetter.toggleFilterButton($event,'sort','All')">All</button>
						<button type="button" data="price" class="sort-button btn btn-lg btn-default" ng-click="LocationsGetter.toggleFilterButton($event,'sort','price')">$</button>
						<button type="button" data="grade" class="sort-button btn btn-lg btn-default" ng-click="LocationsGetter.toggleFilterButton($event,'sort','grade')">Grade</button>
					</div>
				</h2>
      </div>
    </div>
</section>
