<div ng-controller="ResetPasswordController" class="reset-page">

	<div class="climbcation-well well reset-form">
		<h1>Choose a new password</h1>
		<div class="alert alert-warning alert-dismissable" ng-if="submitError">
      <button type="button" class="close" ng-click="submitError = null">&times;</button>
      <div ng-bind-html="submitError"></div>
    </div>
		<div ng-show="!passwordSuccess">
			<label>Password</label>
	    <input class="form-control" type="password" ng-model="password" />
	    <div style="width: 100%; display: flex; justify-content: flex-end; margin-top: 10px">
		    <div class="btn btn-primary" ng-click="changePassword()" ng-disabled="changingPassword">
		      Submit!
		    </div>
		  </div>
		</div>
		<div class="alert alert-success alert-dismissable" ng-if="passwordSuccess">
      <button type="button" class="close" ng-click="passwordSuccess = null">&times;</button>
      <div>Your password has been successfully changed!</div>
    </div>
	</div>
</div>