<section ng-controller='LocationsController'>
<div class="map-hero">
	<div id='mapFilter' ng-controller='MapFilterController' class="row">
	</div>
	<div class="map-overlay">
		<div class="map-overlay-title">
			<h1>Find Your Next Climbing Destination</h1>
		</div>
		<img class="pull-left" src="/images/hero-image-left.png" />
		<img class="pull-right" src="/images/hero-image-right.png" />
	</div>
</div>
<filter></filter>
<div class="row">
	<div class="col-md-12 locations-window" data-spy="scroll" >
		<location class="col-md-6" ng-repeat="locationData in locationData"></location>
	</div>
</div>
</section>