<section ng-controller='LocationsController'>
<filter></filter>
<div class="row">
	<div class="col-md-9 locations-window" data-spy="scroll" >
		<location ng-repeat="locationData in locationData"></location>
		<nav class="text-center">
			<ul class="pagination">
			    <li>
			      <a ng-click="LocationsGetter.pageChange(LocationsGetter.page_num - 1)" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li ng-class="(1 === LocationsGetter.page_num)?'active':''"><a ng-click="LocationsGetter.pageChange(1)">1</a></li>
			    <li ng-class="(2 === LocationsGetter.page_num)?'active':''"><a ng-click="LocationsGetter.pageChange(2)">2</a></li>
			    <li ng-class="(3 === LocationsGetter.page_num)?'active':''"><a ng-click="LocationsGetter.pageChange(3)">3</a></li>
			    <li ng-class="(4 === LocationsGetter.page_num)?'active':''"><a ng-click="LocationsGetter.pageChange(4)">4</a></li>
			    <li ng-class="(5 === LocationsGetter.page_num)?'active':''"><a ng-click="LocationsGetter.pageChange(5)">5</a></li>
			    <li>
			      <a ng-click="LocationsGetter.pageChange(LocationsGetter.page_num + 1)" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
				</li>
			</ul>
		</nav>
	</div>
	<div id='mapFilter' ng-controller='MapFilterController' class="col-md-3">
		
	</div>
</div>
</section>