<section ng-controller='LocationsController'>
<div class="home-hero">
	<div class="home-hero-overlay">
		<div class="home-hero-overlay-title">
			<h2>Ever heard of Rodellar? It offers some of the best sport climbing in Europe</h2>
			<div class="btn btn-climbcation" ng-click="goToFilter()">Find more awesome places you've never heard of below</div>
		</div>
		<img class="pull-left" src="/images/hero-image-left.png" />
		<img class="pull-right" src="/images/hero-image-right.png" />
	</div>
</div>
<filter id="filter"></filter>
<div class="row">
	<div class="locations-window" id="locations-window"
		infinite-scroll='LocationsGetter.getNextPage()'
		infinite-scroll-disabled='LocationsGetter.scrollEnded || LocationsGetter.loading'
		infinite-scroll-distance='0'
	>
		<location class="location-item" ng-repeat="locationData in locationData"></location>
	</div>
	<div class="col-md-12 bottom-padding text-center" ng-if="LocationsGetter.scrollEnded">
		<h4><strong>No More Crags Available :(</strong></h4>
	</div>
</div>

</section>