
<!-- for submit new location page
	editable == true means we are on the location page
 -->
<div ng-if="section.previewOff">
		<div class="row">
			<div class="col-md-11" ng-class="{'col-md-offset-1': !editable}">
				<div class="form-group">
					<label>Section Title</label>
					<input type="text" placeholder="ex. Social Scene" class="form-control" ng-model="section.title"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11" ng-class="{'col-md-offset-1': !editable}">
				<div class="form-group">
					<label ng-if="!editable">Section Description</label>
					<textarea  placeholder="The best place to meet climbers is at the Fatolitis snack bar, this is a great bar for a post climbing spray session as well" class="form-control" rows="{{editable?3:6}}" ng-model="section.body"></textarea>
				</div>
				<div ng-if="editable" class="btn btn-default btn-climbcation pull-right" ng-class="{'disabled': section.isSaving }" ng-click="saveChanges()">
					Save Changes
				</div>
				<div ng-if="editable" class="text-button pull-right pad-top" ng-click="togglePreview(section)">
					Cancel
				</div>
			</div>
		</div>
</div>

<!-- for location page -->

<div ng-if="!section.previewOff">
	<h3 class="inline">{{oldTitle}}</h3> <span class="text-button" ng-click="togglePreview(section)">Edit</span>
	<p class="text-gray info-text preserve-line-breaks" ng-bind-html="oldBody | linky"></p>
</div>